<footer class="footer">
    <div class="container container--footer">
        <div class="footer__inner ">
            <h3 class="footer__headline ">
                Learn how to meet
                the prettiest women
            </h3>
            <form action="" class="footer__form">
                <input type="email" class="footer__mail" placeholder="Enter email here">
                <button class="footer__btn">
                    Subscribe
                </button>
            </form>
        </div>
    </div>
    <div class="footer__footer">
        <nav class="footer__nav col-9">
            <a href="#" class="footer__link">
                About us
            </a>
            <a href="#" class="footer__link">
                Contuct us
            </a>
            <a href="#" class="footer__link">
                Advertiser disclosure
            </a>
            <a href="#" class="footer__link">
                Terms of use
            </a>
            <a href="#" class="footer__link">
                Privacy policy
            </a>
        </nav>
    </div>
</footer>