<header class="header">
    <div class="header__inner">
        <div class="container container--row">
            <figure class="header__logo col-1">
                <img src="images/logos/logo_best.png" alt="logo" class="header__logo-img">
            </figure>
            <nav class="header__nav col-9">
                <a href="#" class="header__link">
                    INTERNATIONAL DATING SITES
                </a>
                <a href="#" class="header__link">
                    UKRAINIAN WOMEN
                </a>
                <a href="#" class="header__link">
                    RUSSIAN WOMEN

                </a>
                <a href="#" class="header__link">
                    ASIAN WOMEN

                </a>
                <a href="#" class="header__link">
                    BLOG
                </a>
            </nav>
            <div class="burger">
                <div class="burger__item"></div>
                <div class="burger__item"></div>
                <div class="burger__item"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__container">
            <h1 class="header__title">
                Top 5 dating sites 2018
            </h1>
            <p class="header__content col-5 col-cm-7 col-md-8 ">
                Finding love on dating sites can be challenging, but it doesn't have to be. We compare some of the best websites for finding the one online. From the top dating sites, to those that offer free matches, this is the place to start.
            </p>
        </div>
    </div>
</header>
