<section class="pop_up">
    <div class="pop_up__inner">
        <span class="pop_up__btn"></span>
        <h3 class="pop_up__headline">
            Advertiser Disclosure
        </h3>
        <div class="pop_up__container">
            <p class="pop_up__content">
                We have created this site to give people looking for love online relevant information about different dating platforms. This goal has been and remains a priority for us.
            </p>
            <p class="pop_up__content">
                Every day, our team works hard to offer visitors detailed and unbiased reviews for free.
            </p>
            <p class="pop_up__content">
                Please be advised that certain dating sites presented on Best10DatingSitesReviews are companies that provide advertising. Thanks to this compensation, we are able to continue working on this project for you. We guarantee that the compensation we receive does not influence the content of the reviews. However, it may influence the scores or positions certain sites occupy on the top lists.
            </p>
        </div>
    </div>
</section>