<section class="table">
    <div class="container">
        <div class="table__container col-cm-7 col-md-8 ">
            <div class="table__head">
                <div class="table__box table__tr--rank">
                    <p class="table__headline">
                        Rank
                    </p>
                </div>
                <div class="table__box table__tr--overview-head">
                    <p class="table__headline ">
                        Overview
                    </p>
                </div>
                <div class="table__box table__tr--our-head ">
                    <p class="table__headline">
                        Our score
                    </p>
                </div>
                <div class="table__box table__tr--advertiser">
                    <a class="table__headline table__headline--link btn_popup" >
                        Advertiser disclosure
                    </a>
                </div>
            </div>
            <div class="table__td ">
                <div class="table__tr table__tr--row table__tr--rank">
                    <span class="table__number">
                        1
                    </span>
                    <i class="table__logo table__logo--vh"></i>
                </div>
                <div class="table__inner ">
                    <div class="table__tr table__tr--overview ">
                        <h3 class="table__title">
                            VictoriaHearts
                        </h3>
                        <p class="table__content">
                            First-class services<br>
                            The site centers on serious relationships only
                            Individual approach to each client
                        </p>
                        <div class="table__inner-static">
                            <p class="table__static">
                                <span class="table__percent">
                                    95%
                                </span> Girl’s reply rate
                            </p>
                            <p class="table__link-credits table__link-credits--none">
                                20 FREE CREDITS
                            </p>
                        </div>
                    </div>
                    <div class="table__tr table__tr--our ">
                        <p class="table__assessment">
                            9.8
                        </p>
                        <div class="table__star-box">
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                        </div>
                        <p class="table__votes">
                            <a href="#" class="table__votes--blue">
                                Rate it!
                            </a> (6632 votes)
                        </p>
                        <p class="table__link-credits">
                            20 FREE CREDITS
                        </p>
                    </div>
                </div>
                <div class="table__tr table__tr--advertiser">
                    <div class="table__box-btn">
                        <a href="#" class="table__link">
                            Visit site
                        </a>
                        <a href="#" class="table__link table__link--white">
                            Read review
                        </a>
                    </div>
                </div>
            </div>



            <div class="table__td">
                <div class="table__tr table__tr--row table__tr--rank">
                    <span class="table__number">
                        2
                    </span>
                    <i class="table__logo table__logo--ac"></i>
                </div>
                <div class="table__inner ">
                    <div class="table__tr table__tr--overview ">
                        <h3 class="table__title">
                            AsiaCharm
                        </h3>
                        <p class="table__content">
                            Fast and easy sign-up procedure<br>
                            Powerful matching algorithm<br>
                            Regular special offers and discounts<br>
                        </p>
                        <div class="table__inner-static">
                            <p class="table__static">
                                <span class="table__percent">
                                    95%
                                </span> Girl’s reply rate
                            </p>
                            <p class="table__link-credits table__link-credits--none">
                                20 FREE CREDITS
                            </p>
                        </div>
                    </div>
                    <div class="table__tr table__tr--our ">
                        <p class="table__assessment">
                            9.6
                        </p>
                        <div class="table__star-box">
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star table__star--6"></i>
                        </div>
                        <p class="table__votes">
                            <a href="#" class="table__votes--blue">
                                Rate it!
                            </a> (6681 votes)
                        </p>
                        <p class="table__link-credits">
                            20 FREE CREDITS
                        </p>
                    </div>
                </div>
                <div class="table__tr table__tr--advertiser">
                    <div class="table__box-btn">
                        <a href="#" class="table__link">
                            Visit site
                        </a>
                        <a href="#" class="table__link table__link--white">
                            Read review
                        </a>
                    </div>
                </div>
            </div>




            <div class="table__td">
                <div class="table__tr table__tr--row table__tr--rank">
                    <span class="table__number">
                        3
                    </span>
                    <i class="table__logo table__logo--ls"></i>
                </div>
                <div class="table__inner ">
                    <div class="table__tr table__tr--overview ">
                        <h3 class="table__title">
                            LoveSwans
                        </h3>
                        <p class="table__content">
                            Reliable anti-scam protection<br>
                            Translation assistance<br>
                            New matches every day
                        </p>
                        <div class="table__inner-static">
                            <p class="table__static">
                                <span class="table__percent">
                                    95%
                                </span> Girl’s reply rate
                            </p>
                            <p class="table__link-credits table__link-credits--none">
                                20 FREE CREDITS
                            </p>
                        </div>
                    </div>
                    <div class="table__tr table__tr--our ">
                        <p class="table__assessment">
                            9.3
                        </p>
                        <div class="table__star-box">
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star table__star--3"></i>
                        </div>
                        <p class="table__votes">
                            <a href="#" class="table__votes--blue">
                                Rate it!
                            </a> (6630 votes)
                        </p>
                        <p class="table__link-credits">
                            20 FREE CREDITS
                        </p>
                    </div>
                </div>
                <div class="table__tr table__tr--advertiser">
                    <div class="table__box-btn">
                        <a href="#" class="table__link">
                            Visit site
                        </a>
                        <a href="#" class="table__link table__link--white">
                            Read review
                        </a>
                    </div>
                </div>
            </div>




            <div class="table__td">
                <div class="table__tr table__tr--row table__tr--rank">
                    <span class="table__number">
                        4
                    </span>
                    <i class="table__logo table__logo--rt"></i>
                </div>
                <div class="table__inner ">
                    <div class="table__tr table__tr--overview ">
                        <h3 class="table__title">
                            RomanceTale
                        </h3>
                        <p class="table__content">
                            Well-functioning user interface<br>
                            Three types of search<br>
                            Online shop to buy gifts for your girlfriend
                        </p>
                        <div class="table__inner-static">
                            <p class="table__static">
                                <span class="table__percent">
                                    95%
                                </span> Girl’s reply rate
                            </p>
                            <p class="table__link-credits table__link-credits--none">
                                20 FREE CREDITS
                            </p>
                        </div>
                    </div>
                    <div class="table__tr table__tr--our ">
                        <p class="table__assessment">
                            9.2
                        </p>
                        <div class="table__star-box">
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star table__star--2"></i>
                        </div>
                        <p class="table__votes">
                            <a href="#" class="table__votes--blue">
                                Rate it!
                            </a> (5992 votes)
                        </p>
                        <p class="table__link-credits">
                            20 FREE CREDITS
                        </p>
                    </div>
                </div>
                <div class="table__tr table__tr--advertiser">
                    <div class="table__box-btn">
                        <a href="#" class="table__link">
                            Visit site
                        </a>
                        <a href="#" class="table__link table__link--white">
                            Read review
                        </a>
                    </div>
                </div>
            </div>



            <div class="table__td">
                <div class="table__tr table__tr--row table__tr--rank">
                    <span class="table__number">
                        5
                    </span>
                    <i class="table__logo table__logo--m"></i>
                </div>
                <div class="table__inner ">
                    <div class="table__tr table__tr--overview ">
                        <h3 class="table__title">
                            Matchtruly
                        </h3>
                        <p class="table__content">
                            Help in planning real dates with female members<br>
                            Excellent customer care<br>
                            High-quality membership database
                        </p>
                        <div class="table__inner-static">
                            <p class="table__static">
                                <span class="table__percent">
                                    95%
                                </span> Girl’s reply rate
                            </p>
                            <p class="table__link-credits table__link-credits--none">
                                20 FREE CREDITS
                            </p>
                        </div>
                    </div>
                    <div class="table__tr table__tr--our ">
                        <p class="table__assessment">
                            9.0
                        </p>
                        <div class="table__star-box">
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star"></i>
                            <i class="table__star table__star--0"></i>
                        </div>
                        <p class="table__votes">
                            <a href="#" class="table__votes--blue">
                                Rate it!
                            </a> (6432 votes)
                        </p>
                        <p class="table__link-credits">
                            20 FREE CREDITS
                        </p>
                    </div>
                </div>
                <div class="table__tr table__tr--advertiser">
                    <div class="table__box-btn">
                        <a href="#" class="table__link">
                            Visit site
                        </a>
                        <a href="#" class="table__link table__link--white">
                            Read review
                        </a>
                    </div>
                </div>
            </div>
            <a class="table__headline table__headline--mobile btn_popup" >
                Advertiser disclosure
            </a>
        </div>
    </div>
</section>