<section class="cards">
    <div class="container">
        <div class="cards__inner">
            <article class="cards__article">
                <div class="cards__inner-logo">
                    <span class="cards__number">
                        1
                    </span>
                    <i class="cards__logo cards__logo--vh"></i>
                </div>
                <div class="cards__assessment-inner col-10">
                    <div class="cards__box">
                        <span class="cards__assessment">
                            9.8
                        </span>
                    </div>
                    <div class="cards__box-star">
                        <div class="cards__inner-star">
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star "></i>
                        </div>
                        <p class="cards__votes">
                            6332 votes
                        </p>
                    </div>
                </div>
                <div class="cards__container col-10">
                    <p class="cards__content col-11">
                        First-class services
                        Serious relationships only
                        Slavic ladies
                    </p>
                </div>
                <a href="#" class="cards__btn col-10">
                    Visit site
                </a>
                <button class="cards__link">
                    Read review
                </button>
            </article>
            <article class="cards__article ">
                <div class="cards__inner-logo">
                    <span class="cards__number">
                        2
                    </span>
                    <i class="cards__logo cards__logo--ac"></i>
                </div>
                <div class="cards__assessment-inner col-10">
                    <div class="cards__box">
                        <span class="cards__assessment">
                            9.6
                        </span>
                    </div>
                    <div class="cards__box-star">
                        <div class="cards__inner-star">
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star cards__star--6"></i>
                        </div>
                        <p class="cards__votes">
                            6332 votes
                        </p>
                    </div>
                </div>
                <div class="cards__container col-10">
                    <p class="cards__content col-12">
                        Fast  sign-up procedure
                        Powerful matching algorithm
                        24/7 support
                    </p>
                </div>
                <a href="#" class="cards__btn col-10">
                    Visit site
                </a>
                <button class="cards__link">
                    Read review
                </button>
            </article>
            <article class="cards__article ">
                <div class="cards__inner-logo">
                    <span class="cards__number">
                        3
                    </span>
                    <i class="cards__logo cards__logo--ls"></i>
                </div>
                <div class="cards__assessment-inner col-10">
                    <div class="cards__box">
                        <span class="cards__assessment">
                            9.3
                        </span>
                    </div>
                    <div class="cards__box-star">
                        <div class="cards__inner-star">
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star cards__star--3"></i>
                        </div>
                        <p class="cards__votes">
                            6632 votes
                        </p>
                    </div>
                </div>
                <div class="cards__container col-10">
                    <p class="cards__content col-12">
                        Reliable anti-scam protection
                        Translation assistance
                        New matches every day
                    </p>
                </div>
                <a href="#" class="cards__btn col-10">
                    Visit site
                </a>
                <button class="cards__link">
                    Read review
                </button>
            </article>
            <article class="cards__article ">
                <div class="cards__inner-logo">
                    <span class="cards__number">
                        4
                    </span>
                    <i class="cards__logo cards__logo--rt"></i>
                </div>
                <div class="cards__assessment-inner col-10">
                    <div class="cards__box">
                        <span class="cards__assessment">
                            9.2
                        </span>
                    </div>
                    <div class="cards__box-star">
                        <div class="cards__inner-star">
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star cards__star--2"></i>
                        </div>
                        <p class="cards__votes">
                            6432 votes
                        </p>
                    </div>
                </div>
                <div class="cards__container col-10">
                    <p class="cards__content col-11">
                        Thousands of Asian ladies
                        Three types of search
                        Online shop to buy gifts
                    </p>
                </div>
                <a href="#" class="cards__btn col-10">
                    Visit site
                </a>
                <button class="cards__link">
                    Read review
                </button>
            </article>
            <article class="cards__article ">
                <div class="cards__inner-logo">
                    <span class="cards__number">
                        5
                    </span>
                    <i class="cards__logo cards__logo--m"></i>
                </div>
                <div class="cards__assessment-inner col-10">
                    <div class="cards__box">
                        <span class="cards__assessment">
                            9.0
                        </span>
                    </div>
                    <div class="cards__box-star">
                        <div class="cards__inner-star">
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star"></i>
                            <i class="cards__star cards__star--0"></i>
                        </div>
                        <p class="cards__votes">
                            6392 votes
                        </p>
                    </div>
                </div>
                <div class="cards__container col-10">
                    <p class="cards__content col-11">
                        Help in planning real dates
                        Excellent customer care
                        First-class services
                    </p>
                </div>
                <a href="#" class="cards__btn col-10">
                    Visit site
                </a>
                <button class="cards__link">
                    Read review
                </button>
            </article>
        </div>
    </div>
</section>