<section class="users">
    <div class="container">
        <h3 class="users__headline">
            Users success stories
        </h3>
        <div class="users__inner-row">
            <article class="users__article  col-sx-12">
                <div class="users__inner-head">
                    <i class="users__logo users__logo--vh"></i>
                    <div class="users__inner">
                        <div class="users__box-stars">
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star users__star--8"></i>
                        </div>
                        <span class="users__assessment">
                            9.8
                        </span>
                    </div>
                </div>
                <div class="users__container">
                    <div class="users__inner-content ">
                        <h4 class="users__title">
                            Alan and Olga
                        </h4>
                        <p class="users__content ">
                            I saw Olga's profile in my matches and fell in love with her instantly. I've always dreamed of a relationship with a woman who has a good sense of humor, and I found her on VictoriaHearts. We are so very happy together!
                        </p>
                    </div>
                    <figure class="users__figure col-3 col-md-12">
                        <img src="images/portfolio/user_vh.jpg" alt="photo"  class="users__photo users__photo--vh ">
                    </figure>
                </div>
                <div class="users__inner-btn col-8 col-md-11">
                    <a href="#" class="users__link col-12">
                        Visit site
                    </a>
                    <a href="#" class="users__btn col-12">
                        Read review
                    </a>
                </div>
            </article>
            <article class="users__article  col-sx-12">
                <div class="users__inner-head">
                    <i class="users__logo users__logo--ac"></i>
                    <div class="users__inner">
                        <div class="users__box-stars">
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star users__star--7"></i>
                        </div>
                        <span class="users__assessment">
                            9.7
                        </span>
                    </div>
                </div>
                <div class="users__container">
                    <div class="users__inner-content ">
                        <h4 class="users__title">
                            Mike and Lihua
                        </h4>
                        <p class="users__content">
                            Five months ago, I joined AsiaCharm. This dating site helped me meet Lihua - the girl I have been looking for my whole life! Now I’m engaged to a person who understands me so completely!

                        </p>
                    </div>
                    <figure class="users__figure col-3 col-md-12 ">
                        <img src="images/portfolio/user_ac.jpg" alt="photo"  class="users__photo users__photo--ac">
                    </figure>
                </div>
                <div class="users__inner-btn col-8 col-md-11">
                    <a href="#" class="users__link col-12">
                        Visit site
                    </a>
                    <a href="#" class="users__btn col-12">
                        Read review
                    </a>
                </div>
            </article>
            <article class="users__article  col-sx-12">
                <div class="users__inner-head">
                    <i class="users__logo users__logo--rt"></i>
                    <div class="users__inner">
                        <div class="users__box-stars">
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star users__star--2"></i>
                        </div>
                        <span class="users__assessment">
                            9.2
                        </span>
                    </div>
                </div>
                <div class="users__container">
                    <div class="users__inner-content">
                        <h4 class="users__title">
                            Harry and Qi
                        </h4>
                        <p class="users__content">
                            I saw Olga's profile in my matches and fell in love with her instantly. I've always dreamed of a relationship with a woman who has a good sense of humor, and I found her on VictoriaHearts. We are so very happy together!
                        </p>
                    </div>
                    <figure class="users__figure col-3 col-md-12">
                        <img src="images/portfolio/user_rt.jpg" alt="photo" class="users__photo users__photo--rt">
                    </figure>
                </div>
                <div class="users__inner-btn col-8 col-md-11">
                    <a href="#" class="users__link col-12">
                        Visit site
                    </a>
                    <a href="#" class="users__btn col-12">
                        Read review
                    </a>
                </div>
            </article>
            <article class="users__article col-sx-12 ">
                <div class="users__inner-head">
                    <i class="users__logo users__logo--ls"></i>
                    <div class="users__inner">
                        <div class="users__box-stars">
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star"></i>
                            <i class="users__star users__star--5"></i>
                        </div>
                        <span class="users__assessment">
                            9.5
                        </span></div>
                </div>
                <div class="users__container">
                    <div class="users__inner-content">
                        <h4 class="users__title">
                            Ray and Svetlana
                        </h4>
                        <p class="users__content">
                            We are another happy couple who have met each other on LoveSwans. The site said we were a perfect match for each other, so I decided to check it out and send a message to Svetlana. Now we are living together and planning our engagement.
                        </p>
                    </div>
                    <figure class="users__figure col-3 col-md-12">
                        <img src="images/portfolio/user_ls.jpg" alt="photo" class="users__photo users__photo--ls"></figure>
                </div>
                <div class="users__inner-btn col-8 col-md-11">
                    <a href="#" class="users__link col-12">
                        Visit site
                    </a>
                    <a href="#" class="users__btn col-12">
                        Read review
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>